<div class="page-header">
  <h3>Presione cualquier enlace para cargarlo</h3>
</div>
<div class="row external-links text-center">
  <div class="span3">
    <h3>Zurich Seguros</h3>
    <a id="external_link" target="_blank" href="http://www.zurich.com.ve/login.asp">
      <img class="logo-140" src="/assets/external_logos/logo_zurich.jpg"/>
    </a>
  </div>
  <div class="span3">
    <h3>Seguros la Vitalicia</h3>
    <a id="external_link" target="_blank" href="http://pol.lavitalicia.com/ibSuite/ibProfile/shell.do">
      <img class="logo-140" src="/assets/external_logos/logo_seguros_la_vitalicia.jpg"/>
    </a>
  </div>
</div>
<div class="row external-links text-center">
  <div class="span3">
    <h3>Seguros Canarias</h3>
    <a id="external_link" target="_blank" href="http://online.seguroscanarias.com.ve:7780/pls/apex/f?p=160:126">
      <img class="logo-170" src="/assets/external_logos/logo_seguros_canarias.jpg"/>
    </a>
  </div>

  <div class="span3">
    <h3>Seguros Mercantil</h3>
    <a id="external_link" target="_blank" href="http://slopr05.seguros.mercantilsf.com:49002/webCotiza/mvcCotizaAutoIndiv?opcion=1&modo=2">
      <img class="logo-240" src="/assets/external_logos/logo_mercantil_seguros.jpg"/>
    </a>
  </div>
</div>
<div class="row external-links text-center">
  <div class="span3">
    <h3>Seguros Mercantil (HCM)</h3>
    <a id="external_link" target="_blank" href="http://slopr05.seguros.mercantilsf.com:49002/webCotiza/mvcCotizaHCM?opcion=1&modo=2&Condicion=5000">
      <img class="logo-240" src="/assets/external_logos/logo_mercantil_seguros_hcm.jpg"/>
    </a>
  </div>
  <div class="span3">
    <h3>Seguros Caracas</h3>
    <a id="external_link" target="_blank" href="https://www.seguroscaracas.com/extranetv3/pryasesores/login_asesores.aspx">
      <img class="logo-240" src="/assets/external_logos/logo_seguros_caracas.png"/>
    </a>
  </div>

</div>








