<!-- <div>
  <%= form_tag sellers_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :style => 'width:100%', :placeholder => 'Buscar...', :tabindex => "0" %>
    </p>
    <%= link_to t('helpers.clean_search'), sellers_path unless params[:search].blank? %>
  <% end %>
</div>
 -->